/* purgecss start ignore */
@tailwind base;
/* purgecss end ignore */
@tailwind utilities;

html,
body,
#root {
  min-height: 100vh;
  font-family: 'Fira Sans', sans-serif;
  color: var(--color-t-primary);
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-t-secondary);
  scroll-behavior: smooth;
}

:root[theme='light'] {
  --color-t-primary: #333;
  --color-t-secondary: #f3f5f8;
  --color-accent: #2f80ed;
}

:root[theme='dark'] {
  --color-t-primary: #f3f5f6;
  --color-t-secondary: #333;
  --color-accent: #f3f5f6;
}

/* div:hover, */
.animate-opacity {
  transition: all 0.5s;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: all 150ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}
